body{
    text-align: center;
    /* background-image: url("Quiz-comic-pop-art-style-illustration-on-transparent-background-PNG (1).png"); */
   
    overflow: hidden;

}
.infoS label{
 display:block;
 margin: 4% 0;
}
.info {
    display:flex;
}
.info input{
    width: 150px;
    margin-left: 10px;
}
.info label{
    margin-left: 10px;
    margin-top: 10px;
}


form{
    background-color: #000000;
    margin: 0 30%;
    padding: 3%;
    border:2px transparent;
    border-radius : 10px;
   
}
label{
    color: #f5f5f5;
    font-family: 'Lexend Tera', sans-serif;
    letter-spacing: 1px;
    /* color: #314371; */
    
}
input{
    border-radius : 5px;
    font-family: 'Lexend Tera', sans-serif;
}
h2{
    color: #f5f5f5;
    font-family: 'Lexend Tera', sans-serif;
    letter-spacing: 2px;
}
button{
    margin-top: 20px;
    background-color: #314371;
    color: #f5f5f5;
    font-family: 'Lexend Tera', sans-serif;
    width: 20%;
    height: 4vh;
    letter-spacing: 1px;
    border:2px transparent;
    border-radius : 5px;

}
.ba h4{
    font-family: 'Lexend Tera', sans-serif;
    margin-right: 2pc;
    padding-top:10px;
    color: #f5f5f5;
  }
  .ba{
    display:flex;
    justify-content: center;
  }
  .ba p{
    color:#B816BB;
    font-family: 'Lexend Tera', sans-serif;
    text-decoration: none;
    margin-top: 30px;
   
  }