body{
    background-color:#314371;
    text-align: center;
}
  h3{
    color: white;
    font-family: 'Lexend Tera', sans-serif;
    font-size: larger;
    letter-spacing: 1px;
    padding-top:150px;
}
  .form{
    padding-top:30px;
    background-color: #F5F5F5;
    margin: 0 20%;
    padding: 100px 0;
    border:2px transparent;
    border-radius : 10px;
}
  .ff{
    display: block;
    margin-left:42px;
}
  input{
    margin:12px 5px;
    border:2px transparent;
    border-radius : 5px;
    background-color: #314371;
    color: #F5F5F5;
    font-family: 'Lexend Tera', sans-serif;
  }
  label{
    font-family: 'Lexend Tera', sans-serif;
    color: #314371;
    padding-right: 0.5%;
    padding-left: 0.5%;
  }
  button{
     color:#F5F5F5;
     background-color: #314371;
     border:2px transparent;
     border-radius : 5px;
     font-family: 'Lexend Tera', sans-serif;
     margin-left: 20pc;
  }
  .bo h4{
    font-family: 'Lexend Tera', sans-serif;
    margin-right: 2pc;
    padding-top:10px;
  
  }
  .bo{
    display:flex;
    justify-content: center;
  }
  .bo a{
    color:#B816BB;
    font-family: 'Lexend Tera', sans-serif;
    text-decoration: none;
    margin-top: 30px;
  }
  